CONFIG_TARGET_ipq807x=y
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_DEVICE_redmi_ax6=y

# CONFIG_ALL_KMODS=y

# CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh-cn=y

##################
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
CONFIG_PACKAGE_odhcp6c=y
CONFIG_PACKAGE_odhcpd-ipv6only=y
CONFIG_PACKAGE_tcpdump=y
CONFIG_PACKAGE_tcpping=y
CONFIG_PACKAGE_resolveip=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_wpad-openssl=y
CONFIG_PACKAGE_luci-proto-ppp=y
CONFIG_PACKAGE_luci-proto-ipv6=y
##################

CONFIG_PACKAGE_iperf3=y
CONFIG_PACKAGE_mc=y


CONFIG_PACKAGE_luci-app-ntpc=y
CONFIG_PACKAGE_luci-app-qos=y
CONFIG_PACKAGE_luci-app-wifischedule=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-easymesh=y
CONFIG_PACKAGE_luci-app-guest-wifi=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n #IPSec VPN Server
CONFIG_PACKAGE_kmod-wireguard=y
#CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-bypass_INCLUDE_Xray=y
CONFIG_PACKAGE_luci-app-nlbwmon=y


# Disable
CONFIG_PACKAGE_xl2tpd=n
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-openvpn-server=n
CONFIG_PACKAGE_luci-app-ttyd=n # terminal
CONFIG_PACKAGE_luci-app-filetransfer=n #file transfer
CONFIG_PACKAGE_luci-app-openclash=n
#CONFIG_PACKAGE_luci-app-arpbind=n #ARP binding MAC to IP
CONFIG_PACKAGE_luci-app-zerotier=n # Zerotier ssh access
CONFIG_PACKAGE_luci-app-adbyby-plus=n # Chinese addblocker
CONFIG_PACKAGE_luci-app-frpc=n #Frp is a fast reverse proxy to help you expose a local server behind a NAT or firewall to the internet.
CONFIG_PACKAGE_luci-app-frps=n #Frp is a fast reverse proxy to help you expose a local server behind a NAT or firewall to the internet.
CONFIG_PACKAGE_luci-app-unblockmusic=n #Unblock Netease music
CONFIG_PACKAGE_luci-app-vlmcsd=n #KMS Server activate windows license
CONFIG_PACKAGE_luci-app-vsftpd=n #FTP server
